@font-face {
  font-family: "HelveticaNeueLTStd-LtIt";
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: url("/fonts/HelveticaNeueLTStdLtIt.woff.woff2") format("woff2"),
    url("/fonts/HelveticaNeueLTStdLtIt.woff.woff") format("woff");
}

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap");
