.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 8rem 1rem;
}
@media screen and (min-width: 429px) {
  .container {
    align-items: flex-end;
    width: 100vw;
    margin: 10rem 0 1rem;
  }
}

.paragraphWrapper {
  margin-bottom: 2rem;
}
@media screen and (min-width: 429px) {
  .paragraphWrapper {
    width: 52vw;
  }
}
